.detailbox {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 3px 6px #9D9D9D29;
    background-color: #FDFDFD;
    margin: 20px 24px 26px 0px;
    padding: 30px 20px 27px 20px;
    width: calc(100% - 326px);

}

.boxdetail {
    width: calc(100% / 6);
    padding: 10px 40px 10px 10px;
}

.label1 {
    color: #8B8D9D;
    font-weight: 600;
    font: normal normal 600 16px/22px Nunito;
    padding: 100px 10px 10px 10px;
    text-align: center;
    width: 100%;
    
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
       
}

.label2 {
    font: normal normal 600 16px/22px Nunito;
    color: #434552;
    font-weight: 600;
    opacity: 1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
        /* background-color: red; */
        width: 100%;
        
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
    
        text-align: center;


    
}
.div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.status {
    /* background-color: red; */
    background-color: #D3F4BE;
    height: 22px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}

.statuslabel {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-right: 0px !important;
    background-color: #D3F4BE;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

label {
    display:inline-block;
}

.edit {
    width: 10%;
    font-size: 18px;
    font-weight: normal;
    background-color: #EAF9FF;
    border-radius: 50px 50px 50px 50px;
    align-items: center;
    text-align: center;
    padding: 15px 0px 0px 0px;
    height: 48px;
    margin-bottom: 50px;
    
    position: absolute;
    right: 50px;
} 

.editbtn {
    border-radius: 100%;
    background-color: #03AEEE;
    height: 48px;
    width: 48px;
    text-align: center;
    justify-content: center;
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.empedit {
    margin-left: 50px;
    margin-bottom: 10px;
}
